*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI,sans-serif;
background:#0f172a;
color:white;
overflow-x:hidden;
}

.navbar{
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background:linear-gradient(
-45deg,
#00c6ff,
#0072ff,
#7f00ff,
#e100ff
);

background-size:400% 400%;

animation:gradient 10s ease infinite;
}

.hero h1{
font-size:70px;
font-weight:bold;
animation:float 3s infinite;
}

.hero p{
font-size:22px;
margin:20px 0;
}

@keyframes gradient{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

@keyframes float{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

}

.glass-card{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(15px);

padding:30px;

border-radius:20px;

transition:.4s;

border:1px solid rgba(255,255,255,0.2);
}

.glass-card:hover{

transform:translateY(-10px);

box-shadow:0 0 30px cyan;
}

.service-card{

background:white;

color:black;

padding:30px;

border-radius:20px;

text-align:center;

transition:.4s;
}

.service-card:hover{

transform:scale(1.05);

background:#00c6ff;

color:white;
}

.stats{

display:flex;

justify-content:space-around;

padding:70px;

background:#111827;

text-align:center;
}

.stats h2{

font-size:55px;

color:#00c6ff;
}

.testimonial{

background:#1e293b;

padding:25px;

border-radius:15px;

transition:.4s;
}

.testimonial:hover{

transform:translateY(-10px);
}

form{

max-width:700px;

margin:auto;
}

footer{

background:black;

padding:25px;

text-align:center;

margin-top:40px;
}

@media(max-width:768px){

.hero h1{

font-size:40px;
}

.hero p{

font-size:18px;
}

.stats{

flex-direction:column;

gap:30px;
}

}
